{% extends 'headoffice/headofficebase.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid pt-2">
            <ol class="breadcrumb mb-4 bg-white ">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">Master View</li>
                <div class="align-self-end ml-auto">
                    <a class="btn btn-secondary  btn-sm" href="{% url 'headoffice' %}">BACK</a>
                </div>
            </ol>



            <div class="card mb-4">
                <div class="card-header"> <i class="fas fa-table mr-1"></i> Update Details </div>

                <div class="col-md-12	">
                    <div class="form-group">
                        <form method="Post" action="">
                            {% csrf_token %}
                            <!-- <div class="card-header"> <i class="fas fa-table mr-1"></i> Master Dashboard </div> -->
                            <div class="card-body px-0">

                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.booking_ID|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.customer_name|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.contact_number|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.email|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Brand|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Model|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Variant|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Colour|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Ex_Showroom_Price|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Insurance_AMT|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.RTO|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.FASTAG|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.TCS|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.ACCESSORIES|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Extended_Warranty|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Annual_Maintanence_Cost|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.On_Road_Price|as_crispy_field}}
                                        </div>
                                    </div>
                                    </div>



                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Booking Reciept</th>

                                            <th>
                                                {{Form.booking_receipt}}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Quotation</th>

                                            <th>
                                                {{Form.quotation}}
                                            </th>



                                        </tr>
                                        <tr>
                                            <th>Order Form</th>

                                            <th>
                                                {{Form.order_form}}
                                            </th>



                                        </tr>
                                        <tr>
                                            <th>Delivery Order</th>

                                            <th>
                                                {{Form.Delivery_Order}}


                                        </tr>

                                    </table>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Consumer_offer|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Exchange_bonus|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Corporate_discount|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Remarks|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Dealer_discount|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Total_discount|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Down_Payment|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Finance|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Used_car|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.Total_Payment|as_crispy_field}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            {{Form.status|as_crispy_field}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{Form.Modification|as_crispy_field}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <input class="btn float-right btn-outline-primary col-lg-4	" type=submit value="Save" />
                    </div>
                    </form>
                </div>
            </div>
        </div>
</div>
</main>
</div>
{% endblock %}