{% extends 'headoffice/headofficebase.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid pt-2">
            <ol class="breadcrumb mb-4 bg-white">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">HeadOffice View</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Customer Details
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-info ">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">BookingID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">ContactNo.</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Model.</th>
                                    <th scope="col">Variant</th>
                                    <th scope="col">Colour</th>
                                    <th scope="col">Date.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for booking in bookings %}
                                    <th scope="row">{{booking.booking_ID}}</th>
                                    <td>{{booking.customer_name}}</td>
                                    <td>{{booking.contact_number}}</td>
                                    <td>{{booking.email}}</td>
                                    <td>{{booking.Brand}}</td>
                                    <td>{{booking.Model}}</td>
                                    <td>{{booking.Variant}}</td>
                                    <td>{{booking.Colour}}</td>
                                    <td>{{booking.Date | date:"Y-m-d H:i"}}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header"> <i class="fas fa-table mr-1"></i> PRICE LIST </div>
                <div class="card-body px-0">
                    <div class="col-md-12">
                        <div class="form-group">
                            <table class="table table-info">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Ex_Showroom_Price</th>
                                        <th scope="col">Ins_AMT</th>
                                        <th scope="col">Rto</th>
                                        <th scope="col">FASTag</th>
                                        <th scope="col">Tcs</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Acc</th>
                                        <th scope="col">Extended_Warranty</th>
                                        <th scope="col">Amc</th>
                                        <th scope="col">On_Road_Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for booking in bookings %}
                                        <td>{{booking.Ex_Showroom_Price}}</td>
                                        <td>{{booking.Insurance_AMT}}</td>
                                        <td>{{booking.RTO}}</td>
                                        <td>{{booking.FASTAG}}</td>
                                        <td>{{booking.TCS}}</td>
                                        <td>{{booking.TOTAL}}</td>
                                        <td>{{booking.ACC}}</td>
                                        <td>{{booking.Extended_Warranty}}</td>
                                        <td>{{booking.Annual_Maintanence_Cost}}</td>
                                        <td>{{booking.On_Road_Price}}</td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header"> <i class="fas fa-table mr-1"></i>DISCOUNT & DOCUMENTS </div>
                    <div class="card-body px-0">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-info">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">booking_receipt</th>
                                            <th scope="col">quotation</th>
                                            <th scope="col">order_form</th>
                                            <th scope="col">Delivery_Order</th>
                                            <th scope="col">Consumer_offer</th>
                                            <th scope="col">Exchange_bonus</th>
                                            <th scope="col">Corporate_discount</th>
                                            <th scope="col">Remarks</th>
                                            <th scope="col">Dealer_discount</th>
                                            <th scope="col">Total_discount</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for booking in bookings %}
                                            <td>{{booking.booking_receipt}}</td>
                                            <td>{{booking.quotation}}</td>
                                            <td>{{booking.order_form}}</td>
                                            <td>{{booking.Delivery_Order}}</td>
                                            <td>{{booking.Consumer_offer}}</td>
                                            <td>{{booking.Exchange_bonus}}</td>
                                            <td>{{booking.Corporate_discount}}</td>
                                            <td>{{booking.Remarks}}</td>
                                            <td>{{booking.Dealer_discount}}</td>
                                            <td>{{booking.Total_discount}}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Send for Modification
                            <form method="Post">
                        </div>
                    </div>
                    {% csrf_token %}
                    {{form.Modification|as_crispy_field}}
                </div>

                <button type="submit" class="btn btn-success btn-lg">Send</button>
                </form>

                <!-- <table class="table table-bordered" width="100%" cellspacing="0">

                                <tbody>
                                    {% for key,value in detail.items %}
                                    {% if key != '_state' %}
                                    <tr>

                                        <td>
                                            <h5>{{key}}</h5>
                                        </td>
                                        <td>
                                            <h6>{{value}}</h6>
                                        </td>

                                    </tr>
                                    {% endif %}
                                    {% endfor %}



                                </tbody>
                            </table> -->
            </div>
        </div>
</div>
</div>
{% endblock %}