{% extends 'headoffice/headofficebase.html' %}

{% block content %}


<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid pt-2">
      <ol class="breadcrumb mb-4 bg-white">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">HeadOffice View</li>
      </ol>
      <style type="text/css">
        div.message {
          text-align: right;
        }
      </style>
      <div class="message">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
          <h3>{{message}}</h3>
        </div>
        {% endfor %}
      </div>



      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table mr-1"></i>
          HeadOffice/{{user.dealershipname}}/{{user.dealershipname.address}}
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-info table-Default" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">Booking ID</th>
                  <th scope="col">Booking Details</th>
                  <th scope="col">Approve</th>
                  <th scope="col">Reject</th>
                  <th scope="col">Modification</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>

              <tbody>
                {% for booking in bookings %}
                <tr>

                  <td>{{booking.booking_ID}}</td>

                  <td><a class="btn btn-outline-secondary btn-sm" href="{% url 'bookingdetails' booking.id %}">VIEW</a>
                  </td>
                  <td><a class="btn btn-outline-success btn-sm"
                      href="{% url 'approve' booking.booking_ID %}">APPROVE</a></td>

                  <td><a class="btn btn-outline-danger btn-sm" href="{% url 'reject' booking.booking_ID %}">REJECT</a>
                  </td>
                  <td><a class="btn btn-outline-warning btn-sm" href="#">MODIFY</a></a></td>
                  {% if booking.status == 'Clearance Pending' %}
                  <td><span class="text-success">{{booking.status}}</span></td>
                  {% elif booking.status == 'Rejected' %}
                  <td><span class="text-danger">{{booking.status}}</span></td>
                  {% elif not booking.status %}
                  {% if booking.booking_receipt and booking.quotation and booking.order_form %}
                  <td><span class=" text-info">Awaiting Approval</span></td>
                  {% else %}
                  <td><span class=" text-danger">Documents Pending</span></td>
                  {% endif %}
                  {% endif %}
                  {% endfor %}



                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>


{% endblock %}