{% extends 'edp/edpbase.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid pt-2">
            <ol class="breadcrumb mb-4 bg-white ">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">#</li>
            </ol>
            <style type="text/css">
                div.message {
                    text-align: right;
                }
            </style>
            <div class="message">
                {% for message in messages %}
                <div class="alert alert-success">
                    <h13 class="display-6">{{message}}</h3>
                </div>
                {% endfor %}
            </div>
            <div class="card mb-4">
                <form method="Post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="card mb-4">

                        <div class="card-header"> <i class="fas fa-table mr-1"></i> Generate DMS & Tally </div>
                        <div class="card-body px-0">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- <table class="table table-striped table-dark" id="dataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th scope="col">booking_ID</th>
                                            <th scope="col">customer_name</th>
                                            <th scope="col">contact_number</th>
                                            <th scope="col">email</th>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Model</th>
                                            <th scope="col">Variant</th>
                                            <th scope="col">Colour</th>
                                            <th scope="col">Ex_Showroom_Price</th>
                                            <th scope="col">Insurance_AMT</th>
                                            <th scope="col">RTO</th>
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for value in Data %}
                                        </tr>
                                            
                                            
                                            <td>{{value.booking_ID}}</td>
                                            <td>{{value.customer_name}}</td>
                                            <td>{{value.contact_number}}</td>
                                            <td>{{value.email}}</td>
                                            <td>{{value.Brand}}</td>
                                            <td>{{value.Model}}</td>
                                            <td>{{value.Variant}}</td>
                                            <td>{{value.Colour}}</td>
                                            <td>{{value.Ex_Showroom_Price}}</td>
                                            <td>{{value.Insurance_AMT}}</td>
                                            <td>{{value.RTO}}</td>

                                        </tr>
                                        {% endfor %}

                                    </table>
                                     <table class="table table-striped table-dark" id="dataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th scope="col">FASTAG</th>
                                            <th scope="col">TCS</th>
                                            <th scope="col">ACCESSORIES</th>
                                            <th scope="col">Extended_Warranty</th>
                                            <th scope="col">Annual_Maintanence_Cost</th>
                                            <th scope="col">On_Road_Price</th>
                                            
                                            
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                            
                                            {% for value in Data %}
                                        </tr>
                                            
                                          
                                            <td>{{value.FASTAG}}</td>
                                            <td>{{value.TCS}}</td>
                                            <td>{{value.ACCESSORIES}}</td>
                                            <td>{{value.Extended_Warranty}}</td>
                                            <td>{{value.Annual_Maintanence_Cost}}</td>
                                            <td>{{value.On_Road_Price}}</td>
                                            


                                     
                                                
                                        </tr>
                                        {% endfor %}
                                    </thead>
                                </table>
                                <table class="table table-striped table-dark" id="dataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th scope="col">booking_receipt</th>
                                            <th scope="col">quotation</th>
                                            <th scope="col">order_form</th>
                                            <th scope="col">Delivery_Order</th>
                                            <th scope="col">Consumer_offer</th>
                                            <th scope="col">Exchange_bonus</th>
                                            <th scope="col">Corporate_discount</th>
                                            
                                            
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {% for value in Data %}
                                        </tr>
                                            
                                          
                                            <td>{{value.booking_receipt}}</td>
                                            <td>{{value.quotation}}</td>
                                            <td>{{value.order_form}}</td>
                                            <td>{{value.Delivery_Order}}</td>
                                            <td>{{value.Consumer_offer}}</td>
                                            <td>{{value.Exchange_bonus}}</td>
                                            <td>{{value.Corporate_discount}}</td>
                                            


                                     
                                                
                                        </tr>
                                        {% endfor %}


                                        <table class="table table-striped table-dark" id="dataTable" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Remarks</th>
                                            <th scope="col">Dealer_discount</th>
                                            <th scope="col">Total_discount</th>
                                            <th scope="col">Other</th>
                                            <th scope="col">Down_Payment</th>
                                            <th scope="col">Finance</th>
                                            <th scope="col">Used_car</th>
                                            <th scope="col">Cash_RTGS_NEFT</th>
                                            <th scope="col">Total_Payment</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {% for value in Data %}
                                        </tr>
                                            
                                          
                                            <td>{{value.Remarks}}</td>
                                            <td>{{value.Dealer_discount}}</td>
                                            <td>{{value.Total_discount}}</td>
                                            <td>{{value.Other}}</td>
                                            <td>{{value.Down_Payment}}</td>
                                            <td>{{value.Finance}}</td>
                                            <td>{{value.Used_car}}</td>
                                            <td>{{value.Cash_RTGS_NEFT}}</td>
                                            <td>{{value.Total_Payment}}</td>
                                            


                                     
                                                
                                        </tr>
                                        {% endfor %}
 -->




                                    <table class="table table-bordered">
                                        <tr>
                                            <th>DMS</th>
                                            <th>{{form.DMS}}</th>

                                        </tr>
                                        <tr>
                                            <th>Tally</th>
                                            <th>{{form.Tally}}</th>


                                        </tr>

                                    </table>

                                    {% for status in paymentstatus %}

                                    {% if status.Payment_Status == "Payment Received" %}

                                    <table class="table table-bordered">
                                        <tr>
                                            <th>RTO</th>
                                            <th>{{form.RTO}}</th>

                                        </tr>
                                        <tr>
                                            <th>Insurance</th>
                                            <th>{{form.Insurance}}</th>


                                        </tr>

                                    </table>

                                    {% endif %}
                                    {% endfor %}


                                </div>
                                <input type="submit" class="btn btn-primary btn-block" name=add value="Save">
                            </div>
                        </div>
                    </div>
            </div>
            </form>
        </div>
</div>
</main>
</div>


{% endblock %}

<th scope="col">ACCESSORIES</th>
                                            