{% extends 'headoffice/headofficebase.html' %}

{% block content %}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid pt-2">
            <ol class="breadcrumb mb-4 bg-white">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">HeadOffice View</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Dealership View
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-info table-Default" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>

                                    <th scope="col">Dealership</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">State</th>



                                </tr>
                            </thead>
                            <tbody>
                                {% for dealership in Dealerships %}
                                <tr>


                                    <td>{{dealership.Name}}</td>
                                    <td>{{dealership.address}}</td>
                                    <td>{{dealership.state}}</td>


                                    {% endfor %}




                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</div>


{% endblock %}