{% extends 'act/actbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid pt-2">
            <ol class="breadcrumb mb-4 bg-white ">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Master View</li>
                <div class="align-self-end ml-auto">
                    
                    <a class="btn btn-secondary  btn-sm" href="{% url 'actdashboard' %}">BACK</a>

                </div>
            </ol>
            <style type="text/css">
                div.message {
                    text-align: right;
                }
            </style>
            <div class="message">
                {% for message in messages %}
                {% if message.tags %}
                <div class="alert alert-{{message.tags}}">
                    {% endif %}
                    <h3>{{message}}</h3>
                </div>
                {% endfor %}
            </div>
            <div class="card mb-4">
                <form method="Post" id="personForm" data-models-url="{% url 'ajax_load_models' %}"
                    data-fuels-url="{% url 'ajax_load_fuels' %}" data-variants-url="{% url 'ajax_load_variants' %}"
                    data-colours-url="{% url 'ajax_load_colours' %}">
                    {% csrf_token %}
                    <div class="card-header"> <i class="fas fa-table mr-1"></i># </div>
                    <div class="card-body px-0">
                      {{ formset.management_form }}
                      {% for form in formset %}
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                  {{form.Payment_Method|as_crispy_field}}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">

                                    {{form.Amount|as_crispy_field}}
                                </div>
                            </div>
                        
                            <div class="col-md-4">
                                <div class="form-group">
                                        

                                    {{form.Date|as_crispy_field}}
                                </div>
                            </div>
                          </div>
                          {% endfor %}
                          <input type="submit" class="btn btn-primary btn-block" name=add value="Save">
                        </div>
                      </form>
                    </div>
                  </div>
                </main>
              </div>
              
{% endblock %}

                              
