{% extends 'sales/salesbase.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid pt-2">
      <ol class="breadcrumb mb-4 bg-white ">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Sales Manager View</li>
      </ol>
      <div class="card mb-4">
        <form method="Post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card mb-4">
            <div class="card-header"> <i class="fas fa-table mr-1"></i> Update Customer Details </div>
            <div class="card-body px-0 upperFilter">


              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.booking_ID|as_crispy_field}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.customer_name|as_crispy_field}}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.contact_number|as_crispy_field}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.email|as_crispy_field}}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.Brand|as_crispy_field}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.Model|as_crispy_field}}
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.Variant|as_crispy_field}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.Colour|as_crispy_field}}
                  </div>
                </div>

              </div>

            </div>

            <div class="card-header"> <i class="fas fa-table mr-1"></i> Deal Breakup </div>
            <div class="card-body px-0 lowerValue">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.Ex_Showroom_Price|as_crispy_field}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.Insurance_AMT|as_crispy_field}}
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.RTO|as_crispy_field}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.FASTAG|as_crispy_field}}
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.TCS|as_crispy_field}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.TOTAL|as_crispy_field}}
                  </div>
                </div>
              </div>


              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.ACC|as_crispy_field}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.Extended_Warranty|as_crispy_field}}
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.Annual_Maintanence_Cost|as_crispy_field}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{form.On_Road_Price|as_crispy_field}}
                  </div>
                </div>
              </div>



              <div class="card-header"> <i class="fas fa-table mr-1"></i> Discount </div>
              <div class="card-body px-0 lowerValue">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {{form.Consumer_offer|as_crispy_field}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      {{form.Exchange_bonus|as_crispy_field}}
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {{form.Corporate_discount|as_crispy_field}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      {{form.Remarks|as_crispy_field}}
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {{form.Dealer_discount|as_crispy_field}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      {{form.Total_discount|as_crispy_field}}
                    </div>
                  </div>
                </div>
                <div class="card-header"> <i class="fas fa-table mr-1"></i> Deal Breakup </div>
                <div class="card-body px-0 lowerValue">
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        {{form.Down_Payment|as_crispy_field}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        {{form.Finance|as_crispy_field}}
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        {{form.Used_car|as_crispy_field}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        {{form.Total_Payment|as_crispy_field}}
                      </div>
                    </div>
                  </div>

                  <div class="card mb-4">

                    <div class="card-header"> <i class="fas fa-table mr-1"></i> Documents </div>

                    <table class="table table-bordered">
                      <tr>
                        <th>Booking Reciept</th>
                        <th>{{form.booking_receipt}}</th>
                        {% if form.booking_receipt.value %}
                        <td><span class="text-success">SUBMITTED</span></td>
                        {% else %}
                        <td><span class="text-danger">PENDING</span></td>
                        {% endif %}

                      </tr>
                      <tr>
                        <th>Quotation</th>
                        <th>{{form.quotation}}</th>
                        {% if form.quotation.value %}
                        <td><span class="text-success">SUBMITTED</span></td>
                        {% else %}
                        <td><span class="text-danger">PENDING</span></td>
                        {% endif %}

                      </tr>
                      <tr>
                        <th>Order Form</th>
                        <th>{{form.order_form}}</th>
                        {% if form.order_form.value %}
                        <td><span class="text-success">SUBMITTED</span></td>
                        {% else %}
                        <td><span class="text-danger">PENDING</span></td>
                        {% endif %}

                      </tr>

                      </tr>
                      <tr>
                        <th>Delivery Order</th>
                        <th>{{form.Delivery_Order}}</th>
                        {% if form.Delivery_Order.value %}
                        <td><span class="text-success">SUBMITTED</span></td>
                        {% else %}
                        <td><span class="text-danger">PENDING</span></td>
                        {% endif %}

                      </tr>

                    </table>
                  </div>
                  {% if form.Modification.value %}
                  <div class="card-header"> <i class="fas fa-table mr-1"></i> Modification </div>


                  <div class="card-body px-0 upperFilter">


                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="form-group">

                          {{form.Modification|as_crispy_field}}

                        </div>
                      </div>
                      {% endif %}

                      <input type="submit" class="btn btn-primary btn-block" name=add value="Save">


                    </div>
                  </div>
        </form>
      </div>
    </div>
</div>
</div>
</div>


{% endblock %}