{% extends 'master/masterbase.html' %}

{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid pt-2">
            <ol class="breadcrumb mb-4 bg-white ">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active">Master View</li>
                <div class="align-self-end ml-auto">
                    <a class="btn btn-secondary  btn-sm" href="{% url 'master' %}">BACK</a>
                </div>
            </ol>
            <div class="card mb-4">
                    <div class="card-header"> <i class="fas fa-table mr-1"></i> Price List</div>
                    <div class="card-body px-0">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-striped table-dark">
                                    <thead>
                                        <tr>
                                            <!-- <th scope="col">Car ID</th> -->
                                            <th scope="col">Model</th>
                                            <th scope="col">Fuel</th>
                                            <th scope="col">Transmission</th>
                                            <th scope="col">Variant</th>
                                            <th scope="col">Ex-Showroom</th>
                                            <th scope="col">INS.AMT.</th>
                                            <th scope="col">RTO</th>
                                            <th scope="col">FASTag</th>
                                            <th scope="col">TCS</th>
                                            <th scope="col">TOTAL</th>
                                            <th scope="col">Acc.</th>
                                            <th scope="col">EW</th>
                                            <th scope="col">AMC</th>
                                            <th scope="col">ON ROAD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for Form in Forms %}
                                        <tr>
                                            <td>{{Form.model}}</td>
                                            <td>{{Form.fuel}}</td>
                                            <td>{{Form.transmission}}</td>
                                            <td>{{Form.variant}}</td>
                                            <td>{{Form.ex_Showroom_Price}}</td>
                                            <td>{{Form.ins_AMT}}</td>
                                            <td>{{Form.rto}}</td>
                                            <td>{{Form.fASTag}}</td>
                                            <td>{{Form.tcs}}</td>
                                            <td>{{Form.total}}</td>
                                            <td>{{Form.acc}}</td>
                                            <td>{{Form.extended_Warranty}}</td>
                                            <td>{{Form.amc}}</td>
                                            <td>{{Form.on_Road_Price}}</td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="card mb-4">
                    <div class="card-header"> <i class="fas fa-table mr-1"></i> Discount </div>
                    <div class="card-body px-0">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-striped table-dark">
                                    <thead>
                                        <tr>
                                            <!-- <th scope="col">Car ID</th> -->
                                            <th scope="col">Consumer Offer</th>
                                            <th scope="col">Exchange Bonus</th>
                                            <th scope="col">Corporate Discount</th>
                                            <th scope="col">Remarks</th>
                                            <th scope="col">Dealer Discount</th>
                                            <th scope="col">Total Discount </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for Form in Forms %}
                                        <tr>
                                            <td>{{Form.consume_offer}}</td>
                                            <td>{{Form.exchange_bonus}}</td>
                                            <td>{{Form.corporate_discount}}</td>
                                            <td>{{Form.remarks}}</td>
                                            <td>{{Form.dealer_discount}}</td>
                                            <td>{{Form.total_discount}}</td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    {% endblock %}